ahtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	text-align: center;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

header{
	background:#000000;
	font-size: 2rem;
	color: #5B9BD6;
	line-height: 50px;
	height: 50px;
	position: relative;
}

@media screen and (max-width: 420px){
	header{
		text-align: left;
		padding-left: .5rem;
	}
}

section{
	padding: 1rem;
}

.full{
	margin: 0;
	padding: 0;
}

nav{
	position: absolute;
	top: 0;
	right: 0;
}

nav li{
	height: 50px;
	float: left;
}

.nav{
	height: 50px;
	width: 50px;
	font-size: 0;
}

#like{
	display: block;
	line-height: 50px;
	height: 50px;
	width: 50px;
	color:#ffffff;
	background: #808080;
	background: #C75C5C;
}

#route{
	display: block;
	line-height: 50px;
	height: 50px;
	width: 50px;
	color:#ffffff;
	background: #808080;
}

#facebook{
	display: block;
	line-height: 50px;
	height: 50px;
	width: 50px;
	color:#ffffff;
	background: #3B5998
}

.search{
	background:#999999;
}

input[type="text"]{
	border: 1px solid black;
	border-radius: 2px;
	padding: .5rem 1rem;
}

input[type="submit"]{
	background: #5EA4EB;
	color: #ffffff;
	border: 0;
	border-radius: 5px;
	padding: .5rem .5rem;
	margin: .5rem;
}

#search{
	width: 50%;
}

.hot_search{
	color: #000000;
}

.options{
	background: #5EA4EB;
}

.opt_left{
	float: left;
}

.opt_right{
	float: right;
}

.button{
	padding: .5rem;
	display: inline-block;
}

#showList{
	background: #FF3399;
}

#findAttraction{
	background: #DF9E61;
}

#sortByPopularity{
	background: white;
}

.clear{
	clear: both;
}